In [5]:
import pandas as pd

# Load the datasets
df1 = pd.read_csv('Data/mitbih_train.csv')
df2 = pd.read_csv('Data/mitbih_test.csv')

# Multiply all columns except the last one by 4096 and round to the nearest integer
df1.iloc[:, :-1] = (df1.iloc[:, :-1] * 4096).round().astype(int)
df2.iloc[:, :-1] = (df2.iloc[:, :-1] * 4096).round().astype(int)

# Rename columns
num_features = df1.shape[1] - 1  # Excluding last column
new_column_names = ['val' + str(i+1) for i in range(num_features)] + ['class']
df1.columns = new_column_names
df2.columns = new_column_names

# Ensure all values, including class, are integers
df1 = df1.astype(int)
df2 = df2.astype(int)

In [6]:
df1

,val1,val2,val3,val4,val5,val6,val7,val8,val9,val10,...,val179,val180,val181,val182,val183,val184,val185,val186,val187,class
0,3933,3536,1890,805,385,513,408,362,303,338,...,0,0,0,0,0,0,0,0,0,0
1,4096,2701,764,288,288,244,232,177,221,188,...,0,0,0,0,0,0,0,0,0,0
2,3790,2727,2218,1131,803,317,294,249,272,238,...,0,0,0,0,0,0,0,0,0,0
3,3961,4096,3404,2404,1461,1019,596,365,481,615,...,0,0,0,0,0,0,0,0,0,0
4,3799,4096,2568,792,389,297,177,219,382,778,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87548,3306,2026,2199,2170,2012,1983,1868,1624,1164,561,...,0,0,0,0,0,0,0,0,0,4
87549,2942,2478,1993,1481,949,492,212,7,0,55,...,0,0,0,0,0,0,0,0,0,4
87550,3711,2558,2441,2357,2173,1973,1822,1588,1321,786,...,0,0,0,0,0,0,0,0,0,4
87551,3515,2644,3463,1016,684,539,498,498,487,425,...,0,0,0,0,0,0,0,0,0,4
87552,3693,3465,3280,3066,2815,2454,2098,1751,1618,1647,...,0,0,0,0,0,0,0,0,0,4

In [7]:
# Save the modified DataFrames
df1.to_csv('Data/mitbih_train_processed.csv', index=False)
df2.to_csv('Data/mitbih_test_processed.csv', index=False)

print("Processing complete. Files saved.")

Processing complete. Files saved.